<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.rfq.sourcingfriends"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        
        <activity
            android:name="com.alibaba.rfq.sourcingfriends.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="LoginActivity"></activity>
        <activity android:name="com.alibaba.rfq.sourcingfriends.msgcenter.TradeMessageActivity" ></activity>
        <activity android:name="com.alibaba.rfq.sourcingfriends.contactlist.ContactListActivity"></activity>
        <activity android:name=".tarbar.ManagerCenterActivity"></activity>
        <activity android:name=".service.DeviceListActivity"></activity>

        <activity 
            android:name=".msgcenter.IngMessageActivity" 
            android:windowSoftInputMode="adjustResize">
        </activity>        
         
        <activity android:name=".contactlist.UserDetailActivity"></activity>
        <service android:enabled="true" android:name="org.androidpn.client.NotificationService" android:label="NotificationService">
            <intent-filter>
				<action android:name="org.androidpn.client.NotificationService" />
			</intent-filter>
        </service>
        <activity android:name="org.androidpn.client.NotificationDetailsActivity"></activity>
        <activity android:name="org.androidpn.client.NotificationSettingsActivity"></activity>
    </application>

</manifest>
